.header {
  font-size: 80px;
  font-weight: 500;
  font-family: "VT323", monospace;
}

.navbar {
  margin-left: space;
  font-family: "Roboto Mono";
  font-size: 20px;
}

.navbar-button {
  color: black;
}

.navbar-button:hover {
  text-decoration: none;
  color: rgb(170, 170, 182);
}

.background {
  line-height: 70px;
  opacity: 0.1;
}

.nopadding {
  margin-left: -010px !important;
}

.hello {
  font-family: "VT323";
  font-weight: lighter;
  font-size: 80px;
}

.intro {
  font-size: 35px;
  font-family: "Roboto Mono";
  font-weight: bold;
}

.paragraph {
  opacity: 1;
  font-size: 20px;
  font-family: "Lora", serif;
  font-weight: initial;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.dropdown-menu {
  margin-left: -100px;
}

.dropdown-item:active {
  background-color: rgb(97, 95, 95);
}

.autoCenter {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.loaderIcon {
  max-width: 700px;
  max-height: 800px;
}

.marginTop {
  margin-top: -33rem;
}

.project-btn {
  color: rgb(78, 78, 78);
  background-color: rgb(212, 212, 212);
  padding: 2px;
}

.card-description {
  font-family: "Roboto mono";
  font-size: smaller;
}

.spotlight {
  outline-style: double;
  outline-color: rgb(87, 85, 85);
  border-radius: 10px;
}

a {
  color: rgb(101, 175, 204);
}

.footer {
  background-color: black;
  position: static;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
}
.footer-background {
  width: 100%;
  max-height: 150px;
}
.footer-text {
  font-size: large;
  text-align: center;
  margin-top: -145px;
  font-family: "Roboto mono";
  color: white;
}

.footer-icon {
  width: 70px;
  height: 70px;
}

.contact-list {
  outline-style: double;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

@media screen and (max-width: 601px) {
  .contact-list {
    float: left;
    font-size: 18px !important;
  }

  .contact-line {
    margin-top: 3rem;
  }
  .active {
    border-bottom: none;
    text-decoration: underline;
    padding-bottom: 3px;
  }
  .loaderIcon {
    margin: -50%;
    padding: auto;
    width: 20rem;
  }
  .nobull img {
    width: 100%;
    height: auto;
  }
}

.nobull {
  padding: 0;
  float: left;
  list-style-type: none;
}

.nobull img {
  width: 4%;
  height: auto;
  margin-right: 2vw;
}

@media screen and (min-width: 601px) {
  .active {
    border-bottom: 1px solid;
    padding-bottom: 3px;
  }
  .active:active {
    border-bottom: 1px solid;
    padding-bottom: 3px;
  }
  .active:hover {
    border-bottom: 1px solid;
    padding-bottom: 3px;
  }
}

.navbar-button {
  min-height: 48px;
}

.active {
  display: block;
}
