.header {
  font-size: 80px;
  font-weight: 500;

  font-family: "VT323", monospace;
}

.navbar {
  margin-left: space;
  font-family: "Roboto Mono";
  font-size: 20px;
}

.navbar-button {
  color: black;
}

.navbar-button:hover {
  text-decoration: none;
  color: rgb(170, 170, 182);
}

.background {
  line-height: 70px;
  opacity: 0.1;
}

.nopadding {
  margin: 0px !important;
}

.hello {
  font-family: "VT323";
  font-weight: lighter;
  font-size: 80px;
}

.intro {
  font-size: 30px;
  font-family: "Roboto Mono";
  font-weight: bold;
}

.paragraph {
  font-size: 23px;
  font-family: "Crimson Text", serif;
  /* font-weight: lighter; */
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.dropdown-menu {
  margin-left: -100px;
}

.dropdown-item:active {
  background-color: rgb(97, 95, 95);
}
.autoCenter {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.loaderIcon {
  max-width: 300px;
  max-height: 400px;
}

.marginTop {
  margin-top: -570px;
}
